body {
    background-color: #fff090;
}

#dataInput {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid #236f61 3px;
    border-radius: 50px;
}

#data {
    height: 20px;
    margin-right: -20px;
    color: #236f61;
    border: solid 2px #236f61;
    border-radius: 50px;
    background-color: #fff3bf;
    padding-left: 10px;
    padding-right: 20px;
}

#data:focus {
    outline: none;
}

#submit {
    text-align: left;
    text-decoration: none;
    font-size: small;
    padding: 5px;
    margin-bottom: -20px;
    margin-right: 10%;
    color: #236f61;
    border: solid 2px #236f61;
    border-radius: 50px;
    background-color: #fff3bf;
    cursor: hand;
}

#submit:hover {
    outline: none;
    border-color: #43debd;
}

#submit:focus {
    outline: none;
}

.listItem {
    text-decoration: none;
    color: #236f61;
}

.listItem:visited {
    text-decoration: none;
    color: #236f61;
}

.listItem:hover {
    color: #43debd;
}